@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$font-family: "Rubik", sans-serif;

$font-size-1: 5.6rem;
$font-size-2: 4rem;
$font-size-3: 3.2rem;
$font-size-4: 2.4rem;
$font-size-5: 1.8rem;
$font-size-6: 1.5rem;

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;

$lh-1: 6.6rem;
$lh-2: 4.7rem;
$lh-3: 3.8rem;
$lh-4: 2.8rem;
$lh-5: 2.1rem;
$lh-6: 1.8rem;

$ls: 0;
