@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --color-primary: hsl(246, 80%, 60%);
  --color-work: hsl(15, 100%, 70%);
  --color-play: hsl(195, 74%, 62%);
  --color-study: hsl(348, 100%, 68%);
  --color-exercise: hsl(145, 58%, 55%);
  --color-social: hsl(264, 64%, 52%);
  --color-self-care: hsl(43, 84%, 65%);
  --color-bg: hsl(226, 43%, 10%);
  --color-bg-card: hsl(235, 46%, 20%);
  --color-text: hsl(235, 45%, 61%);
  --color-text-light: hsl(0, 0%, 100%);
  --color-text-muted: hsl(236, 100%, 87%);
  --spacing: 0;
  --spacing-8: 0.8rem;
  --spacing-16: 1.6rem;
  --spacing-24: 2.4rem;
  --spacing-32: 3.2rem;
  --spacing-40: 4rem;
  --gap-desktop: 3.2rem;
  --gap-mobile: 2.4rem;
  --corner-radius: 1.5rem;
  --card-padding: 2.4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--color-bg);
}
body .container {
  display: grid;
  gap: var(--gap-mobile);
}
@media (min-width: 68.75rem) {
  body .container {
    gap: var(--gap-desktop);
  }
}
@media (min-width: 68.75rem) {
  body .container {
    grid-template-columns: 1fr auto;
  }
}
body .container .head {
  display: grid;
}
@media (min-width: 68.75rem) {
  body .container .head {
    grid-template-columns: 1fr;
  }
}
body .container .body {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-mobile);
}
@media (min-width: 40rem) {
  body .container .body {
    gap: var(--gap-desktop);
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 68.75rem) {
  body .container .body {
    gap: var(--gap-desktop);
    grid-template-columns: repeat(3, 1fr);
  }
}

.text-preset-1, .card-body-content .current-hours {
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6.6rem;
  letter-spacing: 0;
}

.text-preset-2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.7rem;
  letter-spacing: 0;
}

.text-preset-3 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0;
}

.text-preset-4, .head .user-info h1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0;
}

.text-preset-5, .head .timeframe .btn, .card-body-title h2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: 0;
}

.text-preset-6, .head .user-info p, .card-body-content .previous-hours {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0;
}

.head {
  display: flex;
  flex-direction: column;
  border-radius: var(--corner-radius);
}
.head .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-32);
  gap: var(--gap-mobile);
  background-color: var(--color-primary);
  border-top-left-radius: var(--corner-radius);
  border-top-right-radius: var(--corner-radius);
}
@media (min-width: 68.75rem) {
  .head .user {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);
    align-items: start;
  }
}
.head .user img {
  width: 40%;
  border: 0.4rem solid var(--color-text-light);
  border-radius: 50%;
}
.head .user-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}
.head .user-info p {
  color: var(--color-text-muted);
}
.head .user-info h1 {
  color: var(--color-text-light);
}
.head .timeframe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-24);
  background-color: var(--color-bg-card);
  border-bottom-left-radius: var(--corner-radius);
  border-bottom-right-radius: var(--corner-radius);
}
@media (min-width: 68.75rem) {
  .head .timeframe {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-inline: var(--spacing-24);
    gap: var(--gap-desktop);
  }
}
.head .timeframe .btn {
  flex: 1;
  background-color: transparent;
  color: var(--color-text-muted);
  border: none;
  outline: none;
  cursor: pointer;
}
.head .timeframe .btn.active {
  color: var(--color-text-light);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-text);
  border-radius: var(--corner-radius);
}
.card-head {
  height: 6.5rem;
  width: 100%;
  background-color: var(--color-work);
  position: relative;
  border-top-left-radius: var(--corner-radius);
  border-top-right-radius: var(--corner-radius);
  transform: translateY(1.5rem);
}
.card-head img {
  position: absolute;
  right: 0;
  height: 100%;
}
.card-body {
  border-radius: var(--corner-radius);
  padding: var(--card-padding);
  background-color: var(--color-bg-card);
  display: flex;
  flex-direction: column;
  gap: var(--gap-mobile);
  z-index: 2;
}
@media (min-width: 68.75rem) {
  .card-body {
    padding: var(--spacing-32);
  }
}
.card-body-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-body-title h2 {
  color: var(--color-text-light);
}
.card-body-title img {
  height: 20%;
}
.card-body-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}
.card-body-content .current-hours {
  color: var(--color-text-light);
}
.card-body-content .previous-hours {
  color: var(--color-text-muted);
}

#work {
  background-color: var(--color-work);
}

#play {
  background-color: var(--color-play);
}

#study {
  background-color: var(--color-study);
}

#social {
  background-color: var(--color-social);
}

#exercise {
  background-color: var(--color-exercise);
}

#self-care {
  background-color: var(--color-self-care);
}

/*# sourceMappingURL=index.css.map */
